/* A paleta de cores deve ser um elemento com id denominado color-palette

Verifica se cada cor individual da paleta de cores possui a classe chamada color.

Verifica se a cor de fundo de cada elemento da paleta é a cor que o elemento representa. A única cor não permitida na paleta é a cor branca.

Verifica se cada elemento da paleta de cores tem uma borda preta, sólida e com 1 pixel de largura;

Verifica se a paleta lista todas as cores disponíveis para utilização, lado a lado.

Verifica se a paleta de cores está posicionada abaixo do título 'Paleta de Cores'

Verifica se a paleta de cores não contém cores repetidas. */
#title{
    margin-bottom: 30px;
}

#color-palette{
    height: 400px;
    margin: 50px 5px;
}

.color {
    border: 1px solid black;
    display: inline;
    padding: 40px;
    margin: 5px;
}

#blue {
    background-color: rgb(7, 194, 201);
}

#gray{
    background-color: #A9B6CC;
}

#orange{
    background-color: #F28705;
}

#pink {
    background-color: #D50DD9;
}