#title{
    margin-bottom: 30px;
}

#color-palette{
    height: 400px;
    margin: 50px 5px;
}

.color {
    border: 1px solid black;
    display: inline;
    padding: 40px;
    margin: 5px;
}

#blue {
    background-color: rgb(7, 194, 201);
}

#black {
    background-color: #000000;
}

#orange{
    background-color: #F28705;
}

#pink {
    background-color: #D50DD9;
}