body {
    display: flex;
    justify-content: center;
    background-image: url(background.jpg);
    background-size: contain;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

#color-palette{
    height: 42px;
    margin-bottom: 20px;
}

.color {
    border: 1px solid black;
    display: inline-block;
    width: 40px;
    height: 40px;
}

#blue {
    background-color: rgb(7, 194, 201);
}

#black {
    background-color: #000000;
}

#orange{
    background-color: #F28705;
}

#pink {
    background-color: #D50DD9;
}

#pixel-board{
    min-height: 210px;
    min-width: 210px;
    height: 100%;
}

#generate-board {
    text-transform: uppercase;
    font-weight: bold;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid white;
    color: white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.linha{
    min-width: 210px;
    height: 42px;
}

.pixel{
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    border: 1px solid black;
}

#clear-board {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid white;
    color: white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}